/* Universal Styles */

html {
  font-size: 16px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
}

h5 {
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.3rem;
}

/* Nav Bar */

header {
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 4rem;
}

nav div {
  display: flex;
  align-items: center;
 }

 .top-logo {
   padding-left: 1.5rem;
 }

nav img {
	height: 2rem;
	margin-left: 2rem;
	margin-right: 1rem;
}

ul {
	margin-right: 1rem;
}

ul li {
	padding: 1rem 1rem;
} 

.menu ul {
	display: flex;
	align-items: center;
  padding: .5rem;
}

.menu {
  padding-right: 1.5rem;
}

.mobile{
  display: none;
}

.mobilenav{
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 4rem;
}

.mobilenav li {
  padding-left: 3%;
}

/* Top Banner */

.container .banner-image .banner-text {
  background-color: lightgray;
}

.banner-image img {
  width: 60%;
  margin-left: 1.5rem;
}


div .banner-image {
  /* After using the Chrome dev tools in the browser, 
  this div container had a margin much too wride. 
  Making the text to the right sit super far to the right of the page. 
  This was the only way that I could move the text closer to the image. */
  margin-right: -11rem;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.banner-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  
}

.banner-text h3 {
  font-size: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 30rem;
}

.banner-text .button {
  background-color: lightslategrey;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 19rem;
  font-size: 2rem;
}

.banner-image {
  background-color: lightgrey;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.banner-text {
  background-color: lightgrey;
}

/* Second Section */

.second-left {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100rem;
}

.second-left img {
  /* For some reason, when I set this img to 60%, 
  it was larger then the img above it in the first section.  */
  
  margin-left: 1.5rem;
  max-width: 675px;
}

.second-left h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  width: 40rem;
}

.second-left h4 {
  text-align: left;
  font-size: 1.5rem;
  padding-left: 2rem;
  max-width: 40rem;
  line-height: 1.75rem;
  font-style: italic;
}

.second-left p {
  padding-left: 2rem;
  padding-top: 2.5rem;
  font-size: 1.25rem;
  width: 20rem;
}

/* Article 1 */

.second-right {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-right: 4rem;
  background-color: whitesmoke;
}

.second-left {
  background-color: whitesmoke;
}

.orientation {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border: 1px solid lightgrey;
  max-width: 70rem;
  padding-right: 1rem;
}

.orientation img {
  height: auto;
  width: 35%;
}

.campus {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border: 1px solid lightgrey;
  max-width: 70rem;
  padding-right: 1rem;
}

.campus img {
  height: auto;
  width: 35%;
}

.lecture {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid lightgrey;
  max-width: 70rem;
}

.lecture img {
  height: auto;
  width: 35%;
}

.description {
  padding-left: 4rem;
  width: 65%;
}

.second-right h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: .5rem;
}

.second-right h4 {
  font-size: 1.5rem;
  padding-bottom: .5rem;
}

.second-right p {
  color: darkslateblue;
  font-size: 1.25rem;
  padding-top: 1.5rem;
}

/* Start Learning Section */

.learning-header {
  background-color: lightgray;
  padding-right: 10rem;
    padding-left: 10rem;
    margin: 0 auto;
}

.learning-header h1 {
  text-align: center;
  padding-top: 2rem;
  font-size: 3rem;
  font-weight: bold;
  padding-right: 2rem;
}

.center-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 80rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: lightgray;
}

.section-image img {
  height: auto;
  width: 20rem;
}

/* Software Engineering */

.learn-one {
  width: 20rem;
  background-color: seashell;
  padding-bottom: 1.5rem;
  border: 1px solid black;
}

.software {
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.learn-one .description {
  padding-left: 1rem;
}

.learn-one h4 {
  font-weight: bold;
  font-size: 2rem;
  padding-top: 1rem;
}

.learn-one p {
  font-size: 1.1rem;
  width: 15rem;
  line-height: 1.5rem;
}

/* Computer Arts */

.learn-two {
  width: 20rem;
  background-color: seashell;
  padding-bottom: 1.9rem;
  border: 1px solid black;
}

.computer {
  padding-bottom: 2rem;
}

.learn-two .description {
  padding-left: 1rem;
}

.learn-two h4 {
  font-weight: bold;
  font-size: 2rem;
  padding-top: 1rem;
}

.learn-two p {
  font-size: 1.1rem;
  width: 15rem;
  line-height: 1.5rem;
}

/* Design */

.learn-three {
  width: 20rem;
  padding-bottom: 3.3rem;
  border: 1px solid black;
  background-color: seashell;
}

.design {
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.learn-three .description {
  padding-left: 1rem;
}

.learn-three h4 {
  font-weight: bold;
  font-size: 2rem;
  padding-top: 1rem;
}

.learn-three p {
  font-size: 1.1rem;
  width: 15rem;
  line-height: 1.5rem;
}

/* Data */

.learn-four {
  width: 20rem;
  padding-bottom: 1.5rem;
  border: 1px solid black;
  background-color: seashell;
}

.data {
  padding-right: 2rem;
}

.learn-four .description {
  padding-left: 1rem;
}

.learn-four h4 {
  font-weight: bold;
  font-size: 2rem;
  padding-top: 1rem;
}

.learn-four p {
  font-size: 1.1rem;
  width: 15rem;
  line-height: 1.5rem;
}

/* Business */

.learn-five {
  width: 20rem;
  padding-bottom: 1.5rem;
  border: 1px solid black;
  background-color: seashell;
}

.business {
  padding-right: 2rem;
}

.learn-five .description {
  padding-left: 1rem;
}

.learn-five h4 {
  font-weight: bold;
  font-size: 2rem;
  padding-top: 1rem;
}

.learn-five p {
  font-size: 1.1rem;
  width: 15rem;
  line-height: 1.5rem;
}

/* Marketing */

.learn-six {
  width: 20rem;
  padding-bottom: 1.5rem;
  border: 1px solid black;
  background-color: seashell;
}

.learn-six .description {
  padding-left: 1rem;
}

.learn-six h4 {
  font-weight: bold;
  font-size: 2rem;
  padding-top: 1rem;
}

.learn-six p {
  font-size: 1.1rem;
  width: 15rem;
  line-height: 1.5rem;
}

/* Last Container */

.thesis-header h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}

/* Last Side Section Video */

video {
  max-width: 50rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

.last-left h1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
}

.last-left p {
  font-size: 1.2rem;
  padding-bottom: 2rem;
  text-align: left;
  padding-left: 1.5rem;
  max-width: 60rem;
}

.bottom-section {
  display: flex;
}

.last-right {
  margin-right: 3.5rem;
  padding-left: 1.5rem;
  width: 40%;
}

.fisma {
  display: flex;
  background-color: lightgray;
  padding-left: 1.5rem;
  height: 15rem;
}

.fisma img {
  height: 13rem;
  width: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.now-then {
  display: flex;
  padding-top: 2rem;
  padding-left: 1.5rem;
}

.now-then img {
  height: 13rem;
  width: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.last-right .descrip {
  text-align: left;
  margin-top: 5rem;
  padding-left: 1rem;
}

.descrip h3 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

/* Footer Section */

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: 90rem;
  margin-left: 15rem;
}

.btm-section {
  display: flex;
  
}

footer .copyright{
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-right: 55rem;
  width: 20rem;
}

.bottom-nav ul {
  display: flex;
  padding-right: 10rem;
}

@media only screen and (max-width: 500px) {

  .container {
    width: 500px;
  }

  /* Nav Bar */
  .menu {
    display: none;
    width: 18rem;
  }

  .top-logo {
    display: none;
  }

  .mobile {
    display: flex;
    flex-grow: 1;
    height: 4rem;
  }

  /* Top Banner */
  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 30rem;
    margin-left: 0rem;
  }

  .banner-image {
    width: fit-content;
    width: 31rem;
  }

  .banner-image img {
    width: 100%;
    margin-left: 0;
  }

  .banner-text {
    padding-left: 1.5rem;
    width: 29.5rem;
    padding-bottom: 2rem;
  }

  .banner-text h1 {
    width: 20rem;
  }

  .banner-text .button {
    margin-left: 0;
  }

  /* Second Section */

  .second {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .second-left {
    display: none;
  }

  .second-right {
    /* width: 100%; */
    margin: 0 auto;
    padding-left: 3rem;
  }

  .second-right .orientation {
    display: flex;
    flex-direction: column;
  }

  .orientation img {
    width: auto;
  }

  .second-right .campus {
    display: flex;
    flex-direction: column;
  }

  .campus img {
    width: auto;
  }

  .second-right .lecture {
    display: flex;
    flex-direction: column;
  }

  .lecture img {
    width: auto;
  }

  .description h2 {
    padding-top: 1rem;
  }

  /* Start Learning Section */

  .learning-header {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    max-width: 31rem;
    min-width: 31rem;
  }

  .learning-header h1 {
    text-align: center;
    padding-left: 1rem;
  }

  .center-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 20rem;
  }

  .section-image {
    display: none;
  }

  .learn-one .description h5 {
    display: none;
  }

  .learn-one .description p {
    display: none;
  }

  .learn-two .description h5 {
    display: none;
  }

  .learn-two .description p {
    display: none;
  }

  .design {
    padding-left: 0;
    padding-bottom: 2rem;
  }

  .learn-three {
    padding-bottom: 2rem;
  }

  .learn-three .description h5 {
    display: none;
  }

  .learn-three .description p {
    display: none;
  }

  .data{
    padding-bottom: 2rem;
  }

  .learn-four .description h5 {
    display: none;
  }

  .learn-four .description p {
    display: none;
  }

  .business {
    padding-bottom: 2rem;
  }

  .learn-five .description h5 {
    display: none;
  }

  .learn-five .description p {
    display: none;
  }

  .learn-six .description h5 {
    display: none;
  }

  .learn-six .description p {
    display: none;
  }

  /* Last Container */

  .thesis-header h2 {
    text-align: center;
    width: 25rem;
  }

  .bottom-section {
    margin-left: 2rem;
  }

  .last-right {
    display: none;
  }

  .last-left h1 {
    display: none;
  }

  .last-left p {
    display: none;
  }

  video {
    padding-left: 0;
    width: 27rem;
  }

  /* Footer */

  footer .base {
    margin-left: 20rem;
  }

  footer .bottom-nav {
    display: none;
  }

  .btm-section {
    max-width: 500px;
  }

  footer .copyright {
    margin: 0 auto;
  }

}