/* Universal Styles */

html {
  font-size: 16px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
}

/* Nav Bar */

header {
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 4rem;
}

nav div {
  display: flex;
  align-items: center;
 }

 .top-logo {
   padding-left: 1.5rem;
 }

nav img {
	height: 2rem;
	margin-left: 2rem;
	margin-right: 1rem;
}

ul {
	margin-right: 1rem;
}

ul li {
	padding: 1rem 1rem;
} 

.menu ul {
	display: flex;
	align-items: center;
  padding: .5rem;
}

.menu {
  padding-right: 1.5rem;
}

/* Top Banner */

.container .banner-image .banner-text {
  background-color: lightgray;
}

.banner-image img {
  width: 60%;
  margin-left: 1.5rem;
}


div .banner-image {
  /* After using the Chrome dev tools in the browser, 
  this div container had a margin much too wride. 
  Making the text to the right sit super far to the right of the page. 
  This was the only way that I could move the text closer to the image. */
  margin-right: -11rem;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  width: 45rem;
}

.banner-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  width: 40rem;
}

.banner-text h3 {
  font-size: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 30rem;
}

.banner-text .button {
  background-color: lightslategrey;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 19rem;
  font-size: 2rem;
}

div .button {
  margin-left: 7rem;
}

.banner-image {
  background-color: lightgrey;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.banner-text {
  background-color: lightgrey;
}

/* Second Section */

/* div.second-left {
  margin-right: -11rem;
} */

.second-left {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 100rem;
}

.second-left img {
  /* For some reason, when I set this img to 60%, 
  it was larger then the img above it in the first section.  */
  width: 42%;
  margin-left: 1.5rem;
}

.second-left h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  width: 40rem;
}

.second-left h4 {
  text-align: left;
  font-size: 1.5rem;
  padding-left: 2rem;
  width: 50%;
  line-height: 1.75rem;
  font-style: italic;
}

.second-left p {
  padding-left: 2rem;
  padding-top: 2.5rem;
  font-size: 1.25rem;
  width: 20rem;
}

/* Article 1 */

.second-right {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-left: -42rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.orientation {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border: 1px solid grey;
}

.campus {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border: 1px solid grey;
}

.lecture {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border: 1px solid grey;
}

.description {
  padding-left: 4rem;
}

.second-right h2 {
  font-size: 2rem;
  font-weight: bold;
}